*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    background-image:url(img/jumbo.png);
    background-size:cover;
    margin: 20px;
}
#logo{
    height: 30px;
    flex-basis:100px;
}
#button-right{
    background-color:white;
    height: 20px;
    border-radius: 30px;
    flex-basis: 100px;
    text-align: center;
}
#button-right a{
    text-decoration: none;
}

    
.flex-container{
    display: flex;
    justify-content: space-around;
    padding: 10px;
}
#menu{
    list-style-type: none;
    display: flex;
    gap:10px;
}
#menu li{
    padding: 0 20px;
    flex-basis: 150px;
    color: white;
    
}

.contenitore2{
    height: 100px;
    display: flex;
    padding: 15%;
    justify-content: center;
    flex-direction: column;
}

#paragrafo1{
    color: white;
    flex-basis: 30px;
    height: 300px;
    width: 60%;
    text-align: center;
    margin: 0 auto;
}
#paragrafo1 h1{
    font-size: 50px;
}

#paragrafo1 p {
    font-size: 18px;
    margin-bottom:20px;
    margin-bottom: 50px;
}

#button1{
    display: flex;
    height: 300px;
    padding: 10px;
    justify-content:center;
    gap: 20px;
    
}
#button1 a{
    text-decoration: none;
}
#white{
    background-color: white;
    color: black;
    text-align: center;
    border-radius:30px ;
    padding: 10px;
    font-weight: bold;
}

#black{
    background-color: black;
    color: white;
    text-align: center;
    border-radius:30px ;
    padding: 10px;
    font-weight: bold;
}
main{
    margin: 20px;
    }

.contenitore3{
    display: flex;
    justify-content:space-evenly;
    margin-top: 30px;
    width:60%;
    margin: 0 auto;
}
#paragrafo2 h1{
    font-size:30px;
    font-weight: bolder;
    margin-bottom: 10px;
    width: 150px;
    margin-top: 25px;

   
}
#paragrafo2 p{
    font-size: 12px;
    width: 150px;
    vertical-align: baseline;
    margin-bottom: 50px;
}

#paragrafo2{
    text-align: left;
}


.contenitore4{
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    margin-top: 30px;
    width:70%;
    margin: 0 auto;
}
#paragrafo3{
    text-align: left;
}
    

#paragrafo3 h1{
    font-size:30px;
    font-weight: bolder;
    margin-bottom: 10px;
    width: 150px;
    margin-top: 25px;
}
#paragrafo3 p{
    font-size: 15px;
    width: 150px;
    margin-bottom: 50px;
}

#paragrafo4{  
    text-align: left;
}

#paragrafo4 h1{
    font-size:30px;
    font-weight: bolder;
    margin-bottom: 10px;
    width: 150px;
    margin-top: 25px;
}
#paragrafo4 p{
    font-size: 15px;
    width: 150px;
    margin-bottom: 50px;
}



.contenitore5{
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding:100px;
    background-color: lightgray;
}
.paragrafo5{
    text-align: center;

}
.paragrafo5 h1{
    font-size: 50px;
    padding: 20px;
}


.paragrafo5 p{
    font-size: 20px;
    padding: 20px;
}
#immagine5{
    text-align: center;

}
#stars{
    background-image: url(img/stars.svg);
    width: 55%;
    margin: 0 auto;
    padding: 10px;
}
#stars h1{
    font-size: 40px;
    text-align: center;
}

#button2{
    background-color:#5865f2;
    height: 30px;
    border-radius: 30px;
    text-align: center;
    width: 20%;
    margin: 0 auto;
    margin-top: 5px;
}


#button2 a{
   font-size: 20px;
   text-decoration: none;
   color: white;
   }

footer{
    background-color: #121212;
    color: white;
    padding: 50px;
}

footer ul li{
    list-style-type: none;
}

footer .container{
    display: flex;
    /* justify-content: space-between; */
}

footer .container > div{
    flex-grow: 1;
    padding: 15px;
}

footer .container>div:first-child{
    flex-grow: 2;
}

footer .footer-login{
    display: flex;
    justify-content: space-between;
}
.lista1 h4{
    font-size: 25px;
    color: #5865f2;
    width: 30%;

}
.lista1 span{
    font-size:20px;
    text-align: center;
}
#freccia{
    color: white;
}
.container h4{
    color: #5865f2;
    font-size: 25px;

}
.container ul li a{
    text-decoration: none;
    font-size:15px;
    color: white; 
      
}

.footer-login a{
    background-color:#5865f2 ;
    height: 30px;
    width: 100px;
    text-align: center;
    font-size:20px;
    color: white;
    border-radius: 30px;
    text-decoration: none;

}

.footer-login{
    margin-top: 30px;
}
